<h1 style="margin: 20px;">RESERVATION</h1> 
<div>
    <h3>Steps:</h3>
    <ul>
        <li>Fill the below form to complete reservations process</li>
        <li>Dinner reservation are for Adults only</li>
        <li>Any Query call us on TOLL FREE NO. : +022-8800-7700</li>
    </ul>
</div>
<!--
<div>
    
    <button (click)="myEvent('this is click')">Click Me</button>
    <br>
    <input type="text" class="form-control" #box (keyup)="myEvent(box.value)">

    <button routerLink='/extra'>Click to go to extra</button>
    
    <h1>{{currentVal}}</h1>
</div>
-->

<!-- testing activatedRoute -->
<div [formGroup]="form">
    <div class="form-group">
        <label for="name">Name :</label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" > 
    </div>
    <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" class="form-control" id="email" name="email" formControlName="email" >
    </div>
    <div class="form-group">
        <label for="phone">Phone :</label>
        <input type="number" class="form-control" id="number" name="number" formControlName="number" >
    </div>

    <button class="btn btn-secondary" [disabled]="form.invalid" (click)="saveCall()">Save</button>
</div>
