<h1 style="margin: 20px;">RESERVATION</h1> 
<div>
    <h3>Steps:</h3>
    <ul>
        <li>Fill the below form to complete reservations process</li>
        <li>Dinner reservation are for Adults only</li>
        <li>Any Query call us on TOLL FREE NO. : +022-8800-7700</li>
    </ul>
</div>
<div>
    
        <!--<button (click)="myEvent('this is click')">Click Me</button>
        <br>
        <input type="text" #box (keyup)="myEvent(box.value)"-->

        
        <h6>Name:</h6>
        <input type=text class="form-control" />

        <h6>Email Id:</h6>
        <input type=text  />

        <h6>Phone Number:</h6>
        <input type=text/>

        <h6>Reservation Time:</h6>
        <input type=text/>

        <h6>Reservation Time:</h6>
        <input type=text/>


    
    
</div>