<div class="mydiv">
  <h1 class="text-primary p-4">
    <img src="../assets/images/Logo.png" width="250" height="150"> 
      RM Restaurant
  </h1>
</div>


<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b class="p-2" style="color: aqua; border: 1px solid aqua; border-radius: 15px;">
      RM Restaurant</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About-Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Reservation</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
            <li><a class="dropdown-item" href="#">Location</a></li>
            <li><a class="dropdown-item" href="#">Extra</a></li>
          </ul>
        </li>

        
      </ul>
    </div>
  </div>
</nav>
</div>